<html>
  <head>
    <style type="text/css">
        body {
            margin: 0;
            font-family: Helvetica;
            font-size: 16px;
        }

        a {
            text-decoration: none;
        }

        .root {
            background-color: #f7f7f7;
        }

        .logo {
            height: 40px;
        }

        .content {
            max-width: 600px;
            margin: 0 auto;
        }

        .header {
            height: 200px;
            padding: 40px;
            background-color: #1D1C3E;
        }

        .header_title {
            margin: 0;
            color: #FFF;
            font-weight: bold;
            font-size: 32px;
        }

        .main {
            padding: 40px;
            background-color: #FFF;
        }

        .footer {
            padding: 40px;
            background-color: #222;
        }
    </style>
  </head>
  <body>
    <div class="root">
			<div class="content">
				<table class="header" cellpadding="0" cellspacing="0" border="0" width="100%">
					<tr>
						<td>
						<img class="logo" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AFGJ81pU7p1-qZONcjrHUMrvBuUKPtKO_7r6NHEK509lOSB29p0MngRyvfby_9fR3vHSzScRk9spVEG8F1qNtVOIGRdyZaH7TQ=w1846-h968" />
						</td>
					</tr>
					<tr>
						<td width="100%" height="80px"></td>
					</tr>
					<tr>
						<td>
							<h1 class="header_title">Alterar sua senha</h1>
						</td>
					</tr>
				</table>

				<div class="main">
					<span style="color: #1D1C3E; font-weight: bold; font-size: 28px;">Olá, {{name}}!</span>

					<p>Clique no botão abaixo e altere sua senha com segurança:</p>

					<table style="width: 100%;">
						<tbody>
							<tr>
								<td style="border: 1px solid #1D1C3E;height: 50px;" valign="middle" align="center">
									<a style="height: 100%;padding: 15px;color:#1D1C3E" href="{{link}}">ALTERAR SENHA</a>
								</td>
							</tr>
						</tbody>
					</table>

					<p>O link irá expirar em 10 minutos.</p>
				</div>

				<div class="footer">
					<img class="logo" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AFGJ81pU7p1-qZONcjrHUMrvBuUKPtKO_7r6NHEK509lOSB29p0MngRyvfby_9fR3vHSzScRk9spVEG8F1qNtVOIGRdyZaH7TQ=w1846-h968" />
				</div>
			</div>
    </div>
  </body>
</html>
